#board{

    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    height: 1280px;
    justify-content: center;
    position: absolute;
    flex-direction: column;
}
.row{
    
    flex-direction: row;
    display: flex;
}
.case{
    width: 20px;
    height: 20px;
 
    border: 1px solid black;

}

.blanche{
background-color: beige;
}
.noire{
background-color: grey;
}