body{
    background-color: #312E2B;
    }
    #board{
        margin-left: 10%;
        margin-top: 5%;
        display: flex;
        width: 800px;
        height: 800px;
        flex-direction: column;
    }
    .navbar{
        background-color: #272522;
    }
    .row{
        background-color: aqua;
        flex-direction: row;
       display: flex;
       height:12.5% ;
    }
    .case{
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
    
     width: 12.5%;
      
    
    }
    
    .blanche{
    background-color: #EEEED2;
    }
    .noire{
    background-color: #769656;
    }
    .texteAccueil{
    color: white;
    }
    #g4{
        background-image:url(https://www.chess.com/chess-themes/pieces/neo/150/wp.png) ;
        background-position: center;
        background-size: 100px 100px;
    }
    #start{
        position: absolute;
        margin-left: 75%;
        top: 30%;
        display: inline-block;
        width: 200px;
        height: 75px;
        background-color: #769656;
        border-color: #769656;
        color: white;
    
        
    }
    #start:hover{
        background-color: #769656;
        border-color: aliceblue;
        border-width: 5px;
    
    }